.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: center;
}

.table-view .column-header {
    -fx-background-color: blue;
    /* -fx-background-radius: 5px; */
    /* -fx-border-radius: 5px; */
    -fx-padding: 0.5em;
}

/* Lignes impaires avec un bleu clair */
.table-row-cell:odd {
    -fx-background-color: #effafc !important; /* Bleu clair */
}

/* Lignes paires avec un bleu un peu plus foncé */
.table-row-cell:even {
    -fx-background-color: #f7fefa !important; /* Bleu légèrement plus foncé */
}

.table-view .table-cell {
    -fx-alignment: center;
}


